/* overall styling that every page will use */
/* mobile-first design utilizing media query breakpoints for containers */
/* specific page styling is left to specifc css styles that also handle media queries for that page */

@font-face {
  font-family: avenir;
  src: url(./avenir/AvenirLTStd-Roman.otf);
}

/* so far, everything has this font */
/* can go through and specify per element if more fonts are added later */
* {
  font-family: avenir;
}

body {
  margin: 0px;
  background-color: whitesmoke;
}

/* container for extra small, small, and medium devices */
/* this is so that the page has style for phones and tablets and another style for computers */
.container {
  max-width: 90%;
  margin: auto;
}

/* containers change their max width for large extra large devices (computers) */
/* also creates a nice margin on bigger devies for readability of content */
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
